/* Univeral selectors for pseudo-elements before and after*/
*,
*::before,
*::after {
  box-sizing: border-box;
};

html,
body,
.wrapper { /* Style for the wrapper class within the body thats contained in html as a whole */
  height: 100%;
  margin: 0;
  padding: 0;
}

body {/* Styles the body section of the html */
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {/* specifically targets styling towards the wrapper class */
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {/* specifically targets styling for the header */
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {/* specifically targets styling for the card class */
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {/* Pseudo-element syling for card-header class */
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {/* card-body class styling */
  min-height: 100px;
}

.card-footer {/* card-body class styling */
  text-align: center;
}

.card-footer::before {/* card-footer class styling for the ::before pseudo-element */
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {/* card-footer class styling for the ::after pseudo-element */
  content: " ";
  display: block;
  clear: both;
}

.btn {/* btn class or more generally the styles for the button */
  border: none;
  background-color: green;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {/* Style of button if diabled */
  cursor: default;
  background: #c0c7cf;
}

.float-right {/* float-right styling */
  float: right;
}

#password {/* Styling for password Id */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {/* Specifications for different screen size of max width of 690px */
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {/* Specifications for different screen size of max width of 500px */
  .btn {
    font-size: 0.8rem;
  }
}
